<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<body style="background-color:antiquewhite;">
<meta charset="UTF-8">
<title>EDUBLITZ - About Us</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</head>

<body>
	<div class="container">
	<div th:replace="/fragments/header"></div>
	
		<div align="center">
			<img src = "/images/aboutUs.png" width="100%">
			
			<h3>About Edublitz</h3>
			<p>We are a company helping to manage trainers! <br>
			   We assist them by managing their schedules, making payment and checking their timesheets. <br>
			Our goal is to ensure there are no clashes of scheduling with the different trainers and have accurate timesheets and payments. </p>
	
			</div>	
			
	
	<div th:replace="/fragments/footer"></div>
	
</body>
</html>
